body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: pink;

}
form {
  margin-bottom: 20px;
 
}

ul {
  list-style: none;
  padding: 0;
  color:aqua;
}

li {
  margin-bottom: 10px;
}