extends layout

block content
  .container
    h1.text-center.mt-5 Welcome to kawther
    h2.text-center.mb-4 Tasks
    ul.list-group
      each task in tasks
        li.list-group-item.d-flex.justify-content-between.align-items-center
          span(class=task.completed ? 'completed-task' : '')= task.name
          div
            form(action=`/complete/${task.id}`, method='POST', class='task-form')
              button.btn.btn-success.btn-sm.mr-2(type='submit') Mark as Completed
            form(action=`/delete/${task.id}`, method='POST', class='task-form')
              button.btn.btn-danger.btn-sm(type='submit') Delete
    h2.text-center.mt-4 Add New Task
    form(action='/add', method='POST', class='mb-4')
      .form-group
        input.form-control(type='text', name='newTask', placeholder='Enter a new task')
      button.btn.btn-primary(type='submit') Add Task
